.Arriba{
    display: flex;
    height: 70px;
    width: 100%;
    background: var(--light-bg);
    background-color: var(--dark-tile);
    color: var(--light-bg);
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
}

.btn_desplegable svg{
    height: 25px;
    width: 25px;
    color: var(--accent);
}

#general{
    position: relative;
    height: 20px;
    width: 100%;
    bottom: -140px;
    border-radius: 0%;
}
#menu_asig{
    position: relative;
    height: 20px;
    width: 100%;
    bottom: -200px;
}
#conteo_pro{
    position: relative;
    height: 20px;
    width: 100%;
    bottom: -265px;
}


























