<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Empresa</title>
    <link rel="stylesheet" href="../static/css/empresa.css">
    <style>

    </style>
</head>
<body>
    <div class="contenedor-principal">
        <div class="contenedor-icono">
            <div class="icono-empresa">
                <i class="fas fa-building"></i>
            </div>
        </div>
        
        <h1 class="titulo">Crear Empresa</h1>
        
        <form id="formularioEmpresa" action="/comprobarEmpresa" method="post" enctype="multipart/form-data">
            <div class="grupo-formulario">
                <label for="nit">NIT de la Empresa</label>
                <input type="text" name="nit_empresa" id="nit" placeholder="Ingrese el NIT de la empresa" pattern="[0-9]{9}", max="9" min="9", minlength="9", maxlength="9", required, autocomplete="on", tabindex="1">
                <p id="error_nit"></p>
            </div>
            
            
            <div class="grupo-formulario">
                <label for="nombre">Nombre de Empresa</label>
                <input type="text" name="nombre_empresa" id="nombre" placeholder="Ingrese el nombre de la empresa" minlength="4", maxlength="84", pattern="[a-zA-Z0-9-$@]{4,84}", required, autocomplete="on", tabindex="2">
                <p id="error_nombre"></p>
            </div>
            
            
            <div class="grupo-formulario">
                <label for="email">Correo Electrónico</label>
                <input type="email" id="email" name="correo_empresa" placeholder="Ingrese el correo electrónico" minlength="11", maxlength="64", pattern="[a-z0-9.-_]+@+[a-z0-9]+.+[a-z.]{2,}", required, inputmode="email", autocomplete="on", tabindex="3">
                <p id="error_email"></p>
            </div>
            
            
            <div class="fila-formulario">
                <div class="grupo-formulario">
                    <label for="pais">País</label>
                    <select id="pais" name="pais" required>
                        <option value="">Seleccione un país</option>
                        <option value="AF">Afganistán</option>
                        <option value="AL">Albania</option>
                        <option value="DE">Alemania</option>
                        <option value="AD">Andorra</option>
                        <option value="AO">Angola</option>
                        <option value="AG">Antigua y Barbuda</option>
                        <option value="SA">Arabia Saudita</option>
                        <option value="DZ">Argelia</option>
                        <option value="AR">Argentina</option>
                        <option value="AM">Armenia</option>
                        <option value="AU">Australia</option>
                        <option value="AT">Austria</option>
                        <option value="AZ">Azerbaiyán</option>
                        <option value="BS">Bahamas</option>
                        <option value="BD">Bangladés</option>
                        <option value="BB">Barbados</option>
                        <option value="BH">Baréin</option>
                        <option value="BE">Bélgica</option>
                        <option value="BZ">Belice</option>
                        <option value="BJ">Benín</option>
                        <option value="BY">Bielorrusia</option>
                        <option value="MM">Birmania/Myanmar</option>
                        <option value="BO">Bolivia</option>
                        <option value="BA">Bosnia y Herzegovina</option>
                        <option value="BW">Botsuana</option>
                        <option value="BR">Brasil</option>
                        <option value="BN">Brunéi</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="BT">Bután</option>
                        <option value="CV">Cabo Verde</option>
                        <option value="KH">Camboya</option>
                        <option value="CM">Camerún</option>
                        <option value="CA">Canadá</option>
                        <option value="QA">Catar</option>
                        <option value="TD">Chad</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CY">Chipre</option>
                        <option value="VA">Ciudad del Vaticano</option>
                        <option value="CO">Colombia</option>
                        <option value="KM">Comoras</option>
                        <option value="KP">Corea del Norte</option>
                        <option value="KR">Corea del Sur</option>
                        <option value="CI">Costa de Marfil</option>
                        <option value="CR">Costa Rica</option>
                        <option value="HR">Croacia</option>
                        <option value="CU">Cuba</option>
                        <option value="DK">Dinamarca</option>
                        <option value="DM">Dominica</option>
                        <option value="EC">Ecuador</option>
                        <option value="EG">Egipto</option>
                        <option value="SV">El Salvador</option>
                        <option value="AE">Emiratos Árabes Unidos</option>
                        <option value="ER">Eritrea</option>
                        <option value="SK">Eslovaquia</option>
                        <option value="SI">Eslovenia</option>
                        <option value="ES">España</option>
                        <option value="US">Estados Unidos</option>
                        <option value="EE">Estonia</option>
                        <option value="ET">Etiopía</option>
                        <option value="PH">Filipinas</option>
                        <option value="FI">Finlandia</option>
                        <option value="FJ">Fiyi</option>
                        <option value="FR">Francia</option>
                        <option value="GA">Gabón</option>
                        <option value="GM">Gambia</option>
                        <option value="GE">Georgia</option>
                        <option value="GH">Ghana</option>
                        <option value="GD">Granada</option>
                        <option value="GR">Grecia</option>
                        <option value="GT">Guatemala</option>
                        <option value="GY">Guyana</option>
                        <option value="GN">Guinea</option>
                        <option value="GQ">Guinea ecuatorial</option>
                        <option value="GW">Guinea-Bisáu</option>
                        <option value="HT">Haití</option>
                        <option value="HN">Honduras</option>
                        <option value="HU">Hungría</option>
                        <option value="IN">India</option>
                        <option value="ID">Indonesia</option>
                        <option value="IQ">Irak</option>
                        <option value="IR">Irán</option>
                        <option value="IE">Irlanda</option>
                        <option value="IS">Islandia</option>
                        <option value="MH">Islas Marshall</option>
                        <option value="SB">Islas Salomón</option>
                        <option value="IL">Israel</option>
                        <option value="IT">Italia</option>
                        <option value="JM">Jamaica</option>
                        <option value="JP">Japón</option>
                        <option value="JO">Jordania</option>
                        <option value="KZ">Kazajistán</option>
                        <option value="KE">Kenia</option>
                        <option value="KG">Kirguistán</option>
                        <option value="KI">Kiribati</option>
                        <option value="KW">Kuwait</option>
                        <option value="LA">Laos</option>
                        <option value="LS">Lesoto</option>
                        <option value="LV">Letonia</option>
                        <option value="LB">Líbano</option>
                        <option value="LR">Liberia</option>
                        <option value="LY">Libia</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LT">Lituania</option>
                        <option value="LU">Luxemburgo</option>
                        <option value="MK">Macedonia del Norte</option>
                        <option value="MG">Madagascar</option>
                        <option value="MY">Malasia</option>
                        <option value="MW">Malaui</option>
                        <option value="MV">Maldivas</option>
                        <option value="ML">Malí</option>
                        <option value="MT">Malta</option>
                        <option value="MA">Marruecos</option>
                        <option value="MU">Mauricio</option>
                        <option value="MR">Mauritania</option>
                        <option value="MX">México</option>
                        <option value="MC">Mónaco</option>
                        <option value="MN">Mongolia</option>
                        <option value="ME">Montenegro</option>
                        <option value="MZ">Mozambique</option>
                        <option value="NA">Namibia</option>
                        <option value="NR">Nauru</option>
                        <option value="NP">Nepal</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NE">Níger</option>
                        <option value="NG">Nigeria</option>
                        <option value="NO">Noruega</option>
                        <option value="NZ">Nueva Zelanda</option>
                        <option value="OM">Omán</option>
                        <option value="NL">Países Bajos</option>
                        <option value="PK">Pakistán</option>
                        <option value="PW">Palaos</option>
                        <option value="PA">Panamá</option>
                        <option value="PS">Papúa Nueva Guinea</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Perú</option>
                        <option value="PL">Polonia</option>
                        <option value="PT">Portugal</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="GB">Reino Unido</option>
                        <option value="CF">República Centroafricana</option>
                        <option value="CZ">República Checa</option>
                        <option value="CG">República del Congo</option>
                        <option value="CD">República Democrática del Congo</option>
                        <option value="DO">República Dominicana</option>
                        <option value="ZA">República Sudafricana</option>
                        <option value="RW">Ruanda</option>
                        <option value="RO">Rumanía</option>
                        <option value="RU">Rusia</option>
                        <option value="WS">Samoa</option>
                        <option value="KN">San Cristóbal y Nieves</option>
                        <option value="SM">San Marino</option>
                        <option value="VC">San Vicente y las Granadinas</option>
                        <option value="LC">Santa Lucía</option>
                        <option value="ST">Santo Tomé y Príncipe</option>
                        <option value="SN">Senegal</option>
                        <option value="RS">Serbia</option>
                        <option value="SC">Seychelles</option>
                        <option value="SL">Sierra Leona</option>
                        <option value="SG">Singapur</option>
                        <option value="SY">Siria</option>
                        <option value="SO">Somalia</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="SZ">Suazilandia</option>
                        <option value="SD">Sudán</option>
                        <option value="SS">Sudán del Sur</option>
                        <option value="SE">Suecia</option>
                        <option value="CH">Suiza</option>
                        <option value="SR">Surinam</option>
                        <option value="TH">Tailandia</option>
                        <option value="TZ">Tanzania</option>
                        <option value="TJ">Tayikistán</option>
                        <option value="TL">Timor Oriental</option>
                        <option value="TG">Togo</option>
                        <option value="TO">Tonga</option>
                        <option value="TT">Trinidad y Tobago</option>
                        <option value="TN">Túnez</option>
                        <option value="TM">Turkmenistán</option>
                        <option value="TR">Turquía</option>
                        <option value="TV">Tuvalu</option>
                        <option value="UA">Ucrania</option>
                        <option value="UG">Uganda</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistán</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VE">Venezuela</option>
                        <option value="VN">Vietnam</option>
                        <option value="YE">Yemen</option>
                        <option value="DJ">Yibuti</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabue</option>
                    </select>
                </div>
                
                <div class="grupo-formulario">
                    <label for="ciudad">Ciudad</label>
                    <input type="text" id="ciudad" name="ciudad" placeholder="Ingrese la ciudad" pattern="[a-z0-9]{1,58}", minlength="1", maxlength="58", required, autocomplete="on", tabindex="5">
                </div>
                <p id="error_ciudad"></p>
            </div>
            

            <div class="grupo-formulario">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion" placeholder="Ingrese la dirección"  minlength="3", maxlength="168", pattern="[a-z0-9-#.]{3,168}", required, autocomplete="on">
                <p id="error_direccion"></p>
            </div>
            
            
            <div class="grupo-formulario">
                <label for="telefono">Teléfono</label>
                <input type="tel" id="telefono" name="telefono" placeholder="Ingrese el teléfono" min="10" max="10", minlength="10", maxlength="10", pattern="[0-9]{10}", required, inputmode="tel", autocomplete="on", tabindex="7">
                <p id="error_telefono"></p>
            </div>
            

            <div class="seccion-logo" id="seccionLogo" role="button" tabindex="0" dropzone="inputLogo">
                <div class="contenedor-subida">
                    <!-- input tiene aria-describedby para asociar el texto del nombre/errores -->
                    <input type="file" id="inputLogo" name="logo_empresa" class="input" accept="image/*" aria-describedby="infoArchivo" aria-label="Subir logo de la empresa">
                    <i class="fas fa-cloud-upload-alt icono-subida" aria-hidden="true"></i>
                    <div class="texto-wrap">
                        <p class="texto-subida">Haga clic para subir logo o arrastre una imagen PNG</p>
                        <p class="info-archivo" id="infoArchivo">No se ha seleccionado archivo</p>
                    </div>
                    <img id="vistaPreviaLogo" class="vista-previa" alt="Vista previa del logo">
                </div>
                <!-- región live para anunciar errores o estados accesibles -->
                <div id="mensajeLogo" class="oculto" aria-live="polite"></div>
            </div>
            
            <div class="contenedor-botones">
                <a href="/cerrarSesion" class="boton boton-regresar" id="botonRegresar">
                    <i class="fas fa-arrow-left"></i>
                    Regresar
                </a>
                <button id="boton" type="submit" class="boton boton-crear">
                    <i class="fas fa-plus-circle"></i>
                    Crear Empresa
                </button>
                <p>{{msg}}</p>
            </div>
        </form>
    </div>
    <script src="../static/js/empresa.js"></script>
        
</body>
</html>