<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Mi empresa</h2>

    <a href="/editarEmpresa/{{empresa[0][0]}}">editar</a>
    <br>
    <a href="/inicio">salir</a>
    <br>
    <br>
    <label for="">Logo:</label><br>
    <img src="uploads/{{empresa[0][9]}}" width="100px" height="100px" alt=""><br>

    <label for="">QR:</label><br>
    <img src="uploads/{{empresa[0][5]}}" width="100px" height="100px" alt=""><br>
    <a href="uploads/{{empresa[0][5]}}" download="">Descargar QR</a><br><br>
    <label for="">Nit empresa:</label>
    <p>{{empresa[0][0]}}</p><br>

    <label for="">Nombre:</label>
    <p>{{empresa[0][2]}}</p><br>

    <label for="">correo:</label>
    <p>{{empresa[0][3]}}</p><br>

    <label for="">ciudad:</label>
    <p>{{empresa[0][4]}}</p><br>

    <label for="">direccion:</label>
    <p>{{empresa[0][7]}}</p><br>

    <label for="">telefono:</label>
    <p>{{empresa[0][8]}}</p><br>
    
    <label for="">pais:</label>
    <p>{{empresa[0][10]}}</p><br>

</body>
</html>