<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Empresa</title>
</head>
<body>
    <main>
        <h1>Mi Empresa</h1>
        <div id="contenedor_empresa">
            <div id="seccion_logo">
                <label id="label_logo">Logo:</label>
                <img id="img_logo" src="/uploads/{{empresa[0][9]}}" alt="Logo de empresa">
            </div>

            <div id="seccion_qr">
                <label id="label_qr">Código QR:</label>
                <img id="img_qr" src="/uploads/{{empresa[0][5]}}" alt="Código QR">
                <a id="btn_descargar_qr" href="/uploads/{{empresa[0][5]}}" download>Descargar QR</a>
            </div>

            <div id="datos_empresa">
                <div id="dato_item">
                    <label>NIT Empresa:</label>
                    <p>{{empresa[0][0]}}</p>
                </div>

                <div id="dato_item">
                    <label>Nombre:</label>
                    <p>{{empresa[0][2]}}</p>
                </div>

                <div id="dato_item">
                    <label>Correo:</label>
                    <p>{{empresa[0][3]}}</p>
                </div>

                <div id="dato_item">
                    <label>Ciudad:</label>
                    <p>{{empresa[0][4]}}</p>
                </div>

                <div id="dato_item">
                    <label>Dirección:</label>
                    <p>{{empresa[0][7]}}</p>
                </div>

                <div id="dato_item">
                    <label>Teléfono:</label>
                    <p>{{empresa[0][8]}}</p>
                </div>

                <div id="dato_item">
                    <label>País:</label>
                    <p>{{empresa[0][10]}}</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>