<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Mi usuario</h2>

    <a href="/editarUsuario">editar</a>
    <br>
    <a href="/inicio">salir</a>
    <br>
    <br>

    <label for="">Numero de identidad:</label>
    <p>{{usuario[0][0]}}</p><br>

    <label for="">Nombre:</label>
    <p>{{usuario[0][1]}}</p><br>

    <label for="">correo:</label>
    <p>{{usuario[0][2]}}</p><br>

    <a href="/cambiarContrasena">cambiar contraseña</a>
</body>
</html>